In [1]:
import ipyleaflet
from ipyleaflet import Map,Marker
import geocoder
%matplotlib inline
import random
import pandas as pd
import numpy as np
import os
import random
import matplotlib.pyplot as plt
from cn.protect.privacy import KAnonymity
from cn.protect.quality import Loss
from cn.protect.hierarchy import DataHierarchy, OrderHierarchy, IntervalHierarchy
import argparse 
import csv
from collections import defaultdict
from faker import Faker
def clear():
    os.system( 'cls' )
fake = Faker()

In [2]:
import csv
from collections import defaultdict
from faker import Faker
def clear():
    os.system( 'cls' )
fake = Faker()

In [3]:
import csv
from faker import Faker
import datetime

def datagenerate(records, headers):
    fake = Faker('en_US')
    fake1 = Faker('en_GB')    
    with open("test data.csv", 'wt') as csvFile:
        writer = csv.DictWriter(csvFile, fieldnames=headers)
        writer.writeheader()
        for i in range(records):
            full_name = fake.name()
            FLname = full_name.split(" ")
            Fname = FLname[0]
            Lname = FLname[1]
            domain_name = "@testDomain.com"
            userId = Fname +"."+ Lname + domain_name

            writer.writerow({
                     
                    "Name": fake.name(),
                    
                    "Birth_Date" : fake.date(pattern="%d-%m-%Y", end_datetime=datetime.date(2000, 1,1)),
                    "Phone" : fake1.phone_number(),
                    "Email": fake.email(),
                    "Address" : fake.address(),
                    "Zip" : fake.zipcode(),
                    "City" : fake.city(),
                    "State" : fake.state(),
                    "Country" : fake.country(),
                    "Year":fake.year(),
                    "Lon":fake.longitude(),
                    "Lat":fake.latitude(),})
if __name__ == '__main__':
    records = 20
    headers = [  "Name",  "Birth_Date", "Phone", "Email","Address", "Zip", "City","State", "Country", "Year","Lon","Lat" ]
    datagenerate(records, headers)
    print("CSV is done!")

CSV is done!

In [4]:
df = pd.read_csv('test data.csv')

In [5]:
df.head(4)

,Name,Birth_Date,Phone,Email,Address,Zip,City,State,Country,Year,Lon,Lat
0,Alison Collins,19-02-1987,+442074960489,ralphjackson@gmail.com,"7936 Lindsey Mission\r\nJasontown, CA 66904",84419,East Shelly,North Carolina,Chad,1975,-59.263593,-66.125822
1,Destiny Brown,28-08-1999,(028) 9018757,bthomas@caldwell.com,51903 Megan Gardens Suite 496\r\nWest Loriches...,64132,West Michaelchester,Kentucky,Cote d'Ivoire,1980,176.181407,-73.472007
2,Sarah Perry,22-03-1982,(0114) 496 0587,janetsingh@yahoo.com,"5452 Lynch Cape\r\nSouth Courtney, AK 43169",48483,Port Kimberly,Missouri,Thailand,1970,163.035157,-12.748449
3,Danielle Peterson,10-06-1976,+44(0)131 4960071,ilee@velazquez.com,"195 Robert Parks Apt. 868\r\nSusanport, TN 05332",2816,South Geraldview,Missouri,Bouvet Island (Bouvetoya),1993,152.881754,30.288215

In [6]:
def anonymize_df (df,cols):
    for col_name in cols:
         keys={cats: i for i ,cats in enumerate(df[col_name].unique())}
         df[col_name]=df[col_name].apply(lambda x: keys[x])
    return df
cols=["Zip"]
 
df= anonymize_df(df,cols)
df.to_csv('anon.csv')
anonymize_df(df,cols)

,Name,Birth_Date,Phone,Email,Address,Zip,City,State,Country,Year,Lon,Lat
0,Alison Collins,19-02-1987,+442074960489,ralphjackson@gmail.com,"7936 Lindsey Mission\r\nJasontown, CA 66904",0,East Shelly,North Carolina,Chad,1975,-59.263593,-66.125822
1,Destiny Brown,28-08-1999,(028) 9018757,bthomas@caldwell.com,51903 Megan Gardens Suite 496\r\nWest Loriches...,1,West Michaelchester,Kentucky,Cote d'Ivoire,1980,176.181407,-73.472007
2,Sarah Perry,22-03-1982,(0114) 496 0587,janetsingh@yahoo.com,"5452 Lynch Cape\r\nSouth Courtney, AK 43169",2,Port Kimberly,Missouri,Thailand,1970,163.035157,-12.748449
3,Danielle Peterson,10-06-1976,+44(0)131 4960071,ilee@velazquez.com,"195 Robert Parks Apt. 868\r\nSusanport, TN 05332",3,South Geraldview,Missouri,Bouvet Island (Bouvetoya),1993,152.881754,30.288215
4,Krista Warren,23-12-1996,+44141 4960974,calebpacheco@hotmail.com,"675 Rivera Trail Suite 674\r\nLake Steven, UT ...",4,South Angela,Maryland,Faroe Islands,1989,127.814372,-9.233763
5,Brett Adams,09-06-1970,+44(0)1164960351,rebecca70@hotmail.com,USNV Neal\r\nFPO AP 64010,5,East Annette,Oklahoma,Tunisia,1985,2.605676,9.411106
6,James Cantu,14-10-1970,(0306)9990598,james91@day.net,"97790 Nguyen Islands\r\nSouth Heather, AR 57943",6,Aaronstad,Ohio,Kazakhstan,2017,-103.429261,35.842799
7,Pamela Thomas,05-10-1981,0161 496 0960,stevensbrenda@hotmail.com,"3668 Lozano Turnpike\r\nLake Derrickshire, MS ...",7,Aprilmouth,Maine,Congo,1993,107.981237,30.939286
8,Jessica Higgins,05-02-1973,(0191) 4960282,maxhaynes@riggs.org,"30302 Vickie Cape\r\nJohnsonburgh, FL 34271",8,East Alejandra,Georgia,Afghanistan,2000,62.537585,-28.161718
9,Kelsey Garcia,02-07-1980,(0808)1570400,aoneill@arroyo.com,710 Cooper Oval Apt. 420\r\nNorth Robertcheste...,9,Samanthafort,Iowa,Bouvet Island (Bouvetoya),1997,-50.015828,68.908855
10,Jaime Rios,18-08-1986,+44(0)117 496 0917,nphillips@murphy-moore.org,"7864 Baker Plain\r\nTimothybury, AR 13934",10,Hillmouth,Minnesota,Saint Pierre and Miquelon,2010,-62.246712,13.781064
11,Jessica Wall,31-01-1996,0117 496 0807,mileskristin@gmail.com,"62856 Beck Orchard Apt. 721\r\nNguyenborough, ...",11,Millerbury,California,Guam,1981,136.608649,73.299099
12,Cassandra Robinson,24-03-1994,(0161) 496 0672,joel52@wright-gray.com,"27416 Sabrina Tunnel\r\nAdamport, WA 08598",12,Lake Dawn,Iowa,Moldova,1992,49.823125,49.427960
13,Tiffany Price,05-04-1979,+44(0)114 496 0885,richard31@massey.com,"0102 Amy Dale\r\nPort Danaview, ID 35186",13,Victorialand,Maine,Afghanistan,1998,113.634792,51.447411
14,Sandy Sanchez,13-08-1993,(0131) 496 0406,orrjennifer@gmail.com,"56492 Todd Village Apt. 906\r\nSouth Heather, ...",14,Reynoldsview,North Carolina,Israel,1970,3.294662,-87.272359
15,Harold Pham,10-03-1974,+44(0)151 4960936,codyboyle@gmail.com,"969 Walton View Apt. 835\r\nJackfort, MA 49853",15,Gregoryhaven,Kansas,Angola,2000,-171.362562,-46.714537
16,Joshua Keller,19-08-1977,(028) 9018096,nbaker@yahoo.com,"157 Gray Summit Apt. 379\r\nRyanton, NV 96382",16,Lake Darrell,Washington,British Virgin Islands,1975,-145.234807,-59.873106
17,Chelsea Rubio,29-05-1971,0141 4960276,amber79@bailey.com,786 Burns Springs Apt. 333\r\nNew Kathleenside...,17,Lake Katherine,Oregon,Qatar,1996,-129.780466,-19.158042
18,James Valentine,17-08-1989,0121 496 0790,holmesjennifer@yahoo.com,"69425 Williams Roads\r\nWest Tiffanyfort, MT 4...",18,West Jackstad,South Carolina,Liechtenstein,2010,13.119142,1.088442
19,Rickey Torres,27-03-1985,+44(0)289018372,brendasmith@bates.com,"2142 Jenny Road\r\nBurnsshire, PA 30766",19,Danielbury,Ohio,Syrian Arab Republic,1987,-89.017101,45.406035

In [7]:
import datetime
year1 = datetime.datetime.now().year

In [8]:
bod=pd.to_datetime(df.Birth_Date)
print(bod)

0    1987-02-19
1    1999-08-28
2    1982-03-22
3    1976-10-06
4    1996-12-23
5    1970-09-06
6    1970-10-14
7    1981-05-10
8    1973-05-02
9    1980-02-07
10   1986-08-18
11   1996-01-31
12   1994-03-24
13   1979-05-04
14   1993-08-13
15   1974-10-03
16   1977-08-19
17   1971-05-29
18   1989-08-17
19   1985-03-27
Name: Birth_Date, dtype: datetime64[ns]

In [9]:
boy=bod.dt.year

In [10]:
for i in range (len(df)):
    bod= (year1-boy)
df.to_csv('anon.csv')

In [11]:
a=np.zeros((len(df)))

In [12]:
for i in range (len(df)):
    
    age=year1-boy[i]
    a[i]=age
print(a)
df["Age"] = ""
for i in range (len(df)):
    df.Age[i]=a[i]
df.to_csv("anon.csv", index=False)

[33. 21. 38. 44. 24. 50. 50. 39. 47. 40. 34. 24. 26. 41. 27. 46. 43. 49.
 31. 35.]

C:\Users\faramarz z\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
df.head()

,Name,Birth_Date,Phone,Email,Address,Zip,City,State,Country,Year,Lon,Lat,Age
0,Alison Collins,19-02-1987,+442074960489,ralphjackson@gmail.com,"7936 Lindsey Mission\r\nJasontown, CA 66904",0,East Shelly,North Carolina,Chad,1975,-59.263593,-66.125822,33
1,Destiny Brown,28-08-1999,(028) 9018757,bthomas@caldwell.com,51903 Megan Gardens Suite 496\r\nWest Loriches...,1,West Michaelchester,Kentucky,Cote d'Ivoire,1980,176.181407,-73.472007,21
2,Sarah Perry,22-03-1982,(0114) 496 0587,janetsingh@yahoo.com,"5452 Lynch Cape\r\nSouth Courtney, AK 43169",2,Port Kimberly,Missouri,Thailand,1970,163.035157,-12.748449,38
3,Danielle Peterson,10-06-1976,+44(0)131 4960071,ilee@velazquez.com,"195 Robert Parks Apt. 868\r\nSusanport, TN 05332",3,South Geraldview,Missouri,Bouvet Island (Bouvetoya),1993,152.881754,30.288215,44
4,Krista Warren,23-12-1996,+44141 4960974,calebpacheco@hotmail.com,"675 Rivera Trail Suite 674\r\nLake Steven, UT ...",4,South Angela,Maryland,Faroe Islands,1989,127.814372,-9.233763,24

In [14]:
df.drop(columns=["Address","Year","Phone","Birth_Date","Email"], inplace=True)

In [15]:
df.head()

,Name,Zip,City,State,Country,Lon,Lat,Age
0,Alison Collins,0,East Shelly,North Carolina,Chad,-59.263593,-66.125822,33
1,Destiny Brown,1,West Michaelchester,Kentucky,Cote d'Ivoire,176.181407,-73.472007,21
2,Sarah Perry,2,Port Kimberly,Missouri,Thailand,163.035157,-12.748449,38
3,Danielle Peterson,3,South Geraldview,Missouri,Bouvet Island (Bouvetoya),152.881754,30.288215,44
4,Krista Warren,4,South Angela,Maryland,Faroe Islands,127.814372,-9.233763,24

In [16]:
import uuid
print (uuid)

<module 'uuid' from 'C:\\Users\\faramarz z\\Anaconda3\\lib\\uuid.py'>

In [17]:
y=dict()

 
for i in range (len(df)):
    y[i]=uuid.uuid4()
df["nick_name"] = ""
for i in range (len(df)):
    df.nick_name[i]=y[i]
df.to_csv("anon.csv", index=False)     
print(df)

                  Name  Zip                 City           State  \
0       Alison Collins    0          East Shelly  North Carolina
1        Destiny Brown    1  West Michaelchester        Kentucky
2          Sarah Perry    2        Port Kimberly        Missouri
3    Danielle Peterson    3     South Geraldview        Missouri
4        Krista Warren    4         South Angela        Maryland
5          Brett Adams    5         East Annette        Oklahoma
6          James Cantu    6            Aaronstad            Ohio
7        Pamela Thomas    7           Aprilmouth           Maine
8      Jessica Higgins    8       East Alejandra         Georgia
9        Kelsey Garcia    9         Samanthafort            Iowa
10          Jaime Rios   10            Hillmouth       Minnesota
11        Jessica Wall   11           Millerbury      California
12  Cassandra Robinson   12            Lake Dawn            Iowa
13       Tiffany Price   13         Victorialand           Maine
14       Sandy Sanchez   14         Reynoldsview  North Carolina
15         Harold Pham   15         Gregoryhaven          Kansas
16       Joshua Keller   16         Lake Darrell      Washington
17       Chelsea Rubio   17       Lake Katherine          Oregon
18     James Valentine   18        West Jackstad  South Carolina
19       Rickey Torres   19           Danielbury            Ohio

                      Country         Lon        Lat Age  \
0                        Chad  -59.263593 -66.125822  33
1               Cote d'Ivoire  176.181407 -73.472007  21
2                    Thailand  163.035157 -12.748449  38
3   Bouvet Island (Bouvetoya)  152.881754  30.288215  44
4               Faroe Islands  127.814372  -9.233763  24
5                     Tunisia    2.605676   9.411106  50
6                  Kazakhstan -103.429261  35.842799  50
7                       Congo  107.981237  30.939286  39
8                 Afghanistan   62.537585 -28.161718  47
9   Bouvet Island (Bouvetoya)  -50.015828  68.908855  40
10  Saint Pierre and Miquelon  -62.246712  13.781064  34
11                       Guam  136.608649  73.299099  24
12                    Moldova   49.823125  49.427960  26
13                Afghanistan  113.634792  51.447411  41
14                     Israel    3.294662 -87.272359  27
15                     Angola -171.362562 -46.714537  46
16     British Virgin Islands -145.234807 -59.873106  43
17                      Qatar -129.780466 -19.158042  49
18              Liechtenstein   13.119142   1.088442  31
19       Syrian Arab Republic  -89.017101  45.406035  35

                               nick_name
0   f41d2acc-d64f-4181-a5f9-fefb6f9a2fe2
1   d69bc589-4217-45c8-939b-59ca5558a618
2   7f8a80af-1b94-42f7-b4f8-4bf68bad4c68
3   1a88af09-bdd2-4083-bd51-c62bcd0d9887
4   aa5928c9-b917-4a84-9bc9-6f52f7cd7f81
5   bbaa68e0-4229-4b76-be14-2da4fe4eeeda
6   34f0c655-ead0-45e7-a4d6-d1a0790eed8a
7   c147c079-7962-44af-b9aa-ba24d900c332
8   ec854609-ed68-47f5-a0ab-96453600b5f5
9   9095bd8a-4daa-4a64-9aaa-58a5b7e296ef
10  312725ae-55a8-4258-a953-7822d8526714
11  92cbf070-7759-49a2-b997-ea432c7220e4
12  6da81d96-b5b1-4546-a4fd-9929d1c53f5b
13  9c9788b0-82c8-4d1b-ae9a-37a7defef6e9
14  a4c13e0c-9d8a-4511-86a7-fb386dba4f1d
15  bda087c5-6255-4290-a60d-49bb5c59bb47
16  1320cad7-dee1-4ad5-bdcd-db72ed68c6e2
17  1b494ae3-6639-4344-8133-ddb2f8a863be
18  80ca5338-ef43-4461-a146-e37e5c314bec
19  1fd2c8c8-2987-49b2-b4e3-f2558f7522ff

C:\Users\faramarz z\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
df.drop(columns=["Name"], inplace=True)

In [19]:
df.head()

,Zip,City,State,Country,Lon,Lat,Age,nick_name
0,0,East Shelly,North Carolina,Chad,-59.263593,-66.125822,33,f41d2acc-d64f-4181-a5f9-fefb6f9a2fe2
1,1,West Michaelchester,Kentucky,Cote d'Ivoire,176.181407,-73.472007,21,d69bc589-4217-45c8-939b-59ca5558a618
2,2,Port Kimberly,Missouri,Thailand,163.035157,-12.748449,38,7f8a80af-1b94-42f7-b4f8-4bf68bad4c68
3,3,South Geraldview,Missouri,Bouvet Island (Bouvetoya),152.881754,30.288215,44,1a88af09-bdd2-4083-bd51-c62bcd0d9887
4,4,South Angela,Maryland,Faroe Islands,127.814372,-9.233763,24,aa5928c9-b917-4a84-9bc9-6f52f7cd7f81

In [70]:
lat=df.Lat
lon=df.Lon

In [94]:
import random

random_decimal = random.randint(1, 6)/1000
print(random_decimal)

0.003

In [85]:
lat1=dict()
lon1=dict()
lat1=lat+random_decimal
lon1=lon+random_decimal
lat1,lon1

(0    -66.125222
 1    -73.471407
 2    -12.747848
 3     30.288815
 4     -9.233163
 5      9.411706
 6     35.843399
 7     30.939886
 8    -28.161118
 9     68.909455
 10    13.781664
 11    73.299699
 12    49.428559
 13    51.448011
 14   -87.271759
 15   -46.713938
 16   -59.872506
 17   -19.157442
 18     1.089041
 19    45.406635
 Name: Lat, dtype: float64, 0     -59.262993
 1     176.182007
 2     163.035757
 3     152.882354
 4     127.814972
 5       2.606276
 6    -103.428661
 7     107.981837
 8      62.538185
 9     -50.015228
 10    -62.246112
 11    136.609249
 12     49.823725
 13    113.635392
 14      3.295262
 15   -171.361962
 16   -145.234207
 17   -129.779866
 18     13.119742
 19    -89.016501
 Name: Lon, dtype: float64)

In [79]:
df["Lat_new"] = ""
df["Lon_new"] = ""
for i in range (len(df)):
    df.Lat_new[i]=lat1[i]
    df.Lon_new[i]=lon1[i]
df.to_csv("anon.csv", index=False)

C:\Users\faramarz z\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\faramarz z\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [80]:
df.head()

,Zip,City,State,Country,Lon,Lat,Age,nick_name,Lat_new,Lon_new
0,0,East Shelly,North Carolina,Chad,-59.263593,-66.125822,33,f41d2acc-d64f-4181-a5f9-fefb6f9a2fe2,-66.1252,-59.263
1,1,West Michaelchester,Kentucky,Cote d'Ivoire,176.181407,-73.472007,21,d69bc589-4217-45c8-939b-59ca5558a618,-73.4714,176.182
2,2,Port Kimberly,Missouri,Thailand,163.035157,-12.748449,38,7f8a80af-1b94-42f7-b4f8-4bf68bad4c68,-12.7478,163.036
3,3,South Geraldview,Missouri,Bouvet Island (Bouvetoya),152.881754,30.288215,44,1a88af09-bdd2-4083-bd51-c62bcd0d9887,30.2888,152.882
4,4,South Angela,Maryland,Faroe Islands,127.814372,-9.233763,24,aa5928c9-b917-4a84-9bc9-6f52f7cd7f81,-9.23316,127.815

In [83]:
df.drop(columns=["Lat","Lon"], inplace=True)

In [84]:
df.head()

,Zip,City,State,Country,Age,Lat_new,Lon_new
0,0,East Shelly,North Carolina,Chad,33,-66.1252,-59.263
1,1,West Michaelchester,Kentucky,Cote d'Ivoire,21,-73.4714,176.182
2,2,Port Kimberly,Missouri,Thailand,38,-12.7478,163.036
3,3,South Geraldview,Missouri,Bouvet Island (Bouvetoya),44,30.2888,152.882
4,4,South Angela,Maryland,Faroe Islands,24,-9.23316,127.815

In [86]:
basic_map=ipyleaflet.Map(center=[44.398280, 8.957404],zoom=15)

In [87]:
basic_map

Map(center=[44.39828, 8.957404], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', '…

In [88]:
from vega_datasets import data
from geopy import Point
from geopy.distance import vincenty
distKm = .05

In [89]:
users = data.airports()
users=users[:20]

In [90]:
users_m=Map(center=(30.686105, -95.017394),zoom=20)
import folium
m=folium.Map(location=[30.686105, -95.017394],zoom_start=20)

In [91]:
for (index,row) in users.iterrows():
     
    marker=Marker(location=[row.loc['latitude'],row.loc['longitude']],
                  title=row.loc['name']+''+ row.loc['city']+''+ row.loc['state'])
    users_m.add_layer(marker)
    print(marker.location)
    tooltip='user'
    folium.Marker((marker.location),
      popup='<strong>GPS Location<strong>',
      tooltip=tooltip).add_to(m)
    tooltip='gps+noise'
    folium.Marker([30.68631211268432, -95.01792778],
     popup='<strong>GPS Location<strong>',
     tooltip = tooltip,
     icon = folium.Icon(color='green' ,icon='leaf' )).add_to(m)
    tooltip='gps+noise'
    folium.Marker([30.68586110895188, -95.01844961405192],
     popup='<strong>GPS Location<strong>',
     tooltip = tooltip,
     icon = folium.Icon(color='green' ,icon='leaf' )).add_to(m)
    tooltip='gps+noise'
    folium.Marker([30.68586110895188, -95.01740594594807],
     popup='<strong>GPS Location<strong>',
     tooltip = tooltip,
     icon = folium.Icon(color='green' ,icon='leaf' )).add_to(m)
    
    
    
    north=vincenty(kilometers=distKm).destination(Point(marker.location), 0).format_decimal()
    east=vincenty(kilometers=distKm).destination(Point(marker.location), 90).format_decimal()
    south=vincenty(kilometers=distKm).destination(Point(marker.location), 180).format_decimal()
    west=vincenty(kilometers=distKm).destination(Point(marker.location), 270).format_decimal()
    folium.CircleMarker(
    popup='<strong>possible location<strong>',
      location=marker.location,
      radius=110,
      color='#428bca',
      fill=True,
      fill_color='#428bca').add_to(m)
     
    m.save('map.html') 
    print ('center', marker.location)
    print ('north' , vincenty(kilometers=distKm).destination(Point(marker.location), 0).format_decimal())
    print ('east', vincenty(kilometers=distKm).destination(Point(marker.location), 90).format_decimal())
    print ('south', vincenty(kilometers=distKm).destination(Point(marker.location), 180).format_decimal())
    print ('west', vincenty(kilometers=distKm).destination(Point(marker.location), 270).format_decimal()) 
    
users_m

[31.95376472, -89.23450472]
center [31.95376472, -89.23450472]
north 31.9542156335321, -89.23450472
east 31.95376471889862, -89.23397584629178
south 31.95331380643584, -89.23450472
west 31.95376471889862, -89.23503359370822
[30.68586111, -95.01792778]
center [30.68586111, -95.01792778]
north 30.68631211268432, -95.01792778
east 30.68586110895188, -95.01740594594807
south 30.685410107284333, -95.01792778
west 30.68586110895188, -95.01844961405192
[38.94574889, -104.56989329999999]
center [38.94574889, -104.56989329999999]
north 38.94619928181674, -104.56989329999999
east 38.94574888857508, -104.56931654895003
south 38.945298498148404, -104.56989329999999
west 38.94574888857508, -104.57047005104995
[42.74134667, -78.05208056]
center [42.74134667, -78.05208056]
north 42.74179676482266, -78.05208056
east 42.74134666837219, -78.05146992638561
south 42.740896575141825, -78.05208056
west 42.74134666837219, -78.05269119361438
[30.6880125, -81.90594389]

C:\Users\faramarz z\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
C:\Users\faramarz z\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
C:\Users\faramarz z\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
C:\Users\faramarz z\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
C:\Users\faramarz z\Anaconda3\lib\site-packages\ipykernel_launcher.py:43: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
C:\Users\faramarz z\Anaconda3\lib\site-packages\ipykernel_launcher.py:44: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
C:\Users\faramarz z\Anaconda3\lib\site-packages\ipykernel_launcher.py:45: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
C:\Users\faramarz z\Anaconda3\lib\site-packages\ipykernel_launcher.py:46: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.

center [30.6880125, -81.90594389]
north 30.688463502534788, -81.90594389
east 30.688012498951792, -81.90542204437743
south 30.687561497433855, -81.90594389
west 30.688012498951792, -81.90646573562258
[34.49166667, -88.20111111]
center [34.49166667, -88.20111111]
north 34.49211739940846, -88.20111111
east 34.49166666878747, -88.2005667389647
south 34.49121594055825, -88.20111111
west 34.49166666878747, -88.20165548103532
[32.85048667, -86.61145333]
center [32.85048667, -86.61145333]
north 32.85093751929304, -86.61145333
east 32.85048666886006, -86.61091920198298
south 32.85003582067443, -86.61145333
west 32.85048666886006, -86.61198745801703
[43.087509999999995, -88.17786917]
center [43.087509999999995, -88.17786917]
north 43.0879600675048, -88.17786917
east 43.08750999835248, -88.17725510913566
south 43.08705993245965, -88.17786917
west 43.08750999835248, -88.17848323086433
[40.67331278, -80.64140639]
center [40.67331278, -80.64140639]
north 40.67376303735479, -80.64140639
east 40.67331277848559, -80.64081501854209
south 40.672862522610004, -80.64140639
west 40.67331277848559, -80.64199776145793
[40.44725889, -92.22696056]
center [40.44725889, -92.22696056]
north 40.447709165029586, -92.22696056
east 40.44725888849755, -92.22637117444697
south 40.446808614935236, -92.22696056
west 40.44725888849755, -92.22754994555304
[33.93011222, -89.34285194]
center [33.93011222, -89.34285194]
north 33.93056299074791, -89.34285194
east 33.93011221881261, -89.34231116781041
south 33.929661449219026, -89.34285194
west 33.93011221881261, -89.3433927121896
[46.88384889, -96.35089861]
center [46.88384889, -96.35089861]
north 46.884298657371446, -96.35089861
east 46.883848888120525, -96.35024261991441
south 46.883399122593055, -96.35089861
west 46.883848888120525, -96.3515546000856
[41.51961917, -87.40109333]
center [41.51961917, -87.40109333]
north 41.520069361005866, -87.40109333
east 41.51961916844005, -87.40049431930746
south 41.51916897895878, -87.40109333
west 41.51961916844005, -87.40169234069253
[31.42127556, -97.79696778]
center [31.42127556, -97.79696778]
north 31.421726511221316, -97.79696778
east 31.42127555892116, -97.79644191718732
south 31.420824608746926, -97.79696778
west 31.42127555892116, -97.7974936428127
[39.60416667, -116.0050597]
center [39.60416667, -116.0050597]
north 39.60461701074583, -116.0050597
east 39.60416666854149, -116.00447752537973
south 39.60371632921917, -116.0050597
west 39.60416666854149, -116.00564187462028
[32.46047167, -85.68003611]
center [32.46047167, -85.68003611]
north 32.46092254734851, -85.68003611
east 32.46047166887692, -85.67950429606579
south 32.46002079261916, -85.68003611
west 32.46047166887692, -85.68056792393423
[41.98934083, -88.10124278]
center [41.98934083, -88.10124278]
north 41.98979098407476, -88.10124278
east 41.98934082841428, -88.10063938593419
south 41.988890675889834, -88.10124278
west 41.98934082841428, -88.10184617406583
[48.88434111, -99.62087694]
center [48.88434111, -99.62087694]
north 48.88479071995967, -99.62087694
east 48.88434110798479, -99.62019519372785
south 48.88389150000511, -99.62087694
west 48.88434110798479, -99.62155868627215
[33.53456583, -89.31256917]
center [33.53456583, -89.31256917]
north 33.53501662967106, -89.31256917
east 33.534565828830125, -89.31203087340091
south 33.53411503029606, -89.31256917
west 33.534565828830125, -89.3131074665991
[41.43156583, -74.39191722]
center [41.43156583, -74.39191722]
north 41.432016027921094, -74.39191722
east 41.43156582844484, -74.39131901944684
south 41.43111563204355, -74.39191722
west 41.43156582844484, -74.39251542055315

Map(center=[30.686105, -95.017394], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title'…

In [92]:
from geopy import Point
from geopy.distance import vincenty

distKm = .05
lat1 = 52.20444 
lon1 = 0.14056

print ('center', lat1, lon1)
print ('north', vincenty(kilometers=distKm).destination(Point(lat1, lon1), 0).format_decimal())
print ('east', vincenty(kilometers=distKm).destination(Point(lat1, lon1), 90).format_decimal())
print ('south', vincenty(kilometers=distKm).destination(Point(lat1, lon1), 180).format_decimal())
print ('west', vincenty(kilometers=distKm).destination(Point(lat1, lon1), 270).format_decimal())
tooltip='user'
tooltip=tooltip 
folium.Marker([52.20472,0.14056],
popup='<strong>GPS Location<strong>',
tooltip = tooltip,
icon = folium.Icon(color='green' ,icon='leaf' )).add_to(m)

center 52.20444 0.14056
north 52.204889352416984, 0.14056
east 52.204439997733736, 0.14129137138474948
south 52.20399064754859, 0.14056
west 52.204439997733736, 0.1398286286152505

C:\Users\faramarz z\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  if __name__ == '__main__':
C:\Users\faramarz z\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  # Remove the CWD from sys.path while we load stuff.
C:\Users\faramarz z\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  # This is added back by InteractiveShellApp.init_path()
C:\Users\faramarz z\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  if sys.path[0] == '':